.banner {
    justify-content: center;
    height: 80vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner h1 {
    font-size: 46px;
}

.banner h1,
.banner p {
    width: 60%;
}

.banner .overlay {
    opacity: 0.8;
}

.animated.wrapper {
    width: 50%;
    margin-top: 0;
}

.content .wrapper .item {
    align-items: center;
    text-align: center;
    padding: 30px;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
}

.content .wrapper .item i {
    font-size: 50px;
}

.content .wrapper .item h5 {
    font-size: 20px;
    font-weight: 700;
}

.content .wrapper .item .btn {
    margin-top: 20px;
}

.gallery.section .row {
    max-width: none;
    padding: 0;
}

.contact .form-wrapper {
    box-shadow: none;
}

.contact .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--light-grey);
    padding: 30px;
    border-radius: var(--borderRadius);
}

.contact .container .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact .container .box:nth-child(1) {
    border-bottom: 1px solid #00000060;
    padding-bottom: 40px;
}

.contact .container .box h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
}

.contact .container .box .cta {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary);
}

.cta-banner.section {
    background-color: var(--primary);
}

.cta-banner.section .wrapper {
    width: 100%;
    align-items: center;
}

.cta-banner.section .item h5,
.cta-banner.section .item a {
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
}

.cta-banner.section .item a {
    color: var(--white);
    background-color: var(--secondary);
}


.steps.section .steps-wrapper {
    gap: 60px;
    margin-top: 40px;
}

.steps.section .steps-wrapper .item {
    color: var(--white);
    background-color: var(--primary);
    padding: 30px;
    border-radius: var(--borderRadius);
}

.steps.section .steps-wrapper .item .counter {
    background-color: var(--secondary);
    font-size: 30px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps.section .steps-wrapper .item h5 {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 560px) {
    .banner h1,
    .banner p {
        width: 100%;
    }
}